* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-light: #F7F7F7;
    --primary-dark: #252525;
    --accent-purple: #6C63FF;
}
body {
    font-family: sans-serif;
    background: var(--primary-light);
    color: var(--primary-dark);
}
.dark {
    background: var(--primary-dark);
    color: var(--primary-light);
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    max-width: 1000px;
    margin: auto;
    height: 100vh;
    position: relative;
}

.search-wrapper {
    display: flex;
    gap: 5px;
    width: 70%;
    margin: 20px 0;
    
}
input {
    padding: 7px;
    font-size: 16px;
    border: 1px solid #333;
    outline: none;
    border-radius: 5px;

}
.search-bar {
    width: 80%;
}
#filter {
    padding: 5px 0;
    background: var(--accent-purple);
    outline: none;
    border: none;
    border-radius: 5px;
    color: #fff;
}
#filter option {
    background: var(--primary-light);
    color: var(--accent-purple);
}

.moon-icon {
    padding: 5px;
    background: var(--accent-purple);
    border-radius: 5px;
    color: #fff;
}
button {
    border: none;
    padding: 8px 20px;
    border-radius: 7px;
    font-size: 16px;
    cursor: pointer;
    
}
.add-icon {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: var(--accent-purple);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    position: absolute;
    bottom: 70px;
    right: 100px;
    transition: all 100ms ease-in-out;
}
.add-icon:hover {
    transform: scale(1.1);
}

.new-note-popup {
    background: #0000006e;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    align-items: center;
}
.new-note-popup h2 {
    text-align: center;
    color: var(--primary-dark);
}
.popup-box {
    flex-grow: 1;
    padding: 30px;
    background: #fff;
    border: 1px solid gray;
    height: 200px;
    display: flex;
    max-width: 400px;
    margin: auto;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15px;
}
.popup-close {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.popup-btns {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.popup-add-btn {
    background: var(--accent-purple);
    color: var(--primary-light);
}
.d-none {
    transform: scale(0);
}
.d-no-anima {
    transform: scale(0);
    transition: all 500ms ease-out;
}

.d-anima {
    transition: all 200ms ease-out;
    transform: scale(1);
}

@keyframes slide {
    0% {opacity: 0;
        transform: scaleY(0.1);
    }
    100% {
        
        transform: scaleY(1);
    }
    
}

.notes {
    width: 60%;
    text-align: center;

}
.note {
    display: flex;
    width: 100%;
    flex-grow: 1;
    justify-content: space-between;
    padding: 5px 0;
    margin: 5px 0;
}
.modify-note button{
    padding: 0;
    background: none;
}
.modify-note {
    display: none;
}
.note:hover > .modify-note {
    display: block;
}
.modify-note:first-child:hover {
    color: #6C63FF;
}
.notes p{
    font-size: 20px;
}

.notes input{
    transform: scale(1.5);
}

.note span {
    display: flex;
    gap: 10px;
}

.note:not(:last-child){
    border-bottom: 0.5px solid var(--accent-purple);
}

.notes input:checked + p {
    text-decoration: line-through;
    font-style: italic;
}